/* css for full website */
* {
    margin: 0;
}

/* font family css */

.merriweather-font {
    font-family: 'Merriweather';
}

.inter-font {
    font-family: 'Inter', sans-serif;
}

/* css for share others code  */

main>section {
    margin: 0 auto;
    max-width: 1320px;
    border-radius: 20px;
}

.join-button {
    border-radius: 5px;
    background: #fd0505;
    border: 0;
    padding: 15px 35px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.same-context {
    margin: 25px auto;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.profile-news-Latter {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.best {
    color: #F00;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

/* css for header part  */

.first-part {
    text-align: center;
    background-image: url('../images/bannerimage.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 300px;
}

.new-year {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
}

.celebration {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* css for main part  */

/* main first part css  */
.main-first-part {
    margin-top: 50px;
    text-align: center;
    background-color: rgba(255, 228, 196, 0.349);
    padding: 50px 0;
}

.main-first-part>h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.main-first-part>h3 {
    margin-top: 25px;
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.main-first-part>h2 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.newYearImage {
    margin-top: 25px;
}

/* css for main second part  */

#main-second-part {

    display: flex;
    gap: 40px;
    text-align: left;
    background-image: url('../images/celebration.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0;
}

#left {
    margin-left: 100px;
}

#content {
    color: rgba(255, 255, 255, 0.80);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0 35px;
}

/* css for third part  */

.main-third-part {
    text-align: center;
    background-image: linear-gradient(#ff00001e, #FF000000);
    background-position: center;
    padding: 50px 0 85px;
}

#time-management {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 46px;
    margin-bottom: 50px;
}

.red-color {
    color: red;
}

/* css for bonus part  */

.bonus-part {
    display: flex;
    gap: 70px;
    margin: 50px auto;
    padding: 100px 20px;
    background-image: linear-gradient(#FF000000, #ff00001e);
}

#bonus-image {
    border: 10px solid #F00;
    border-radius: 60%;
}

#bonus-image>img {
    border: 20px solid #FFF;
    border-radius: 60%;
}

#year-color {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

/* css for share fourth part  */

.main-fourth-part {
    margin-top: 80px;
}

.flex {
    display: flex;
    gap: 25px;
}

.flex img {
    margin-top: 25px;
    width: 424px;
    height: 450px;
    opacity: 0.6;
    transition: width 2s, height 4s;
}

/* css for final part  */

#main-final-part {
    margin: 75px auto;
    padding: 50px;
    text-align: center;
    background: rgba(255, 0, 0, 0.05);
}

.input-s {
    height: 30px;
    border: none;
    border-radius: 50px 0 30px 50px;
    padding: 5px 100px 5px 25px;
    outline: none;
}

#button-s {
    margin-left: -15px;
    height: 38px;
    padding: 10px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    color: #FFF;
    background-color: #F00;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

/* css for footer part */

.footer {
    background-color: #000000;
    padding: 50px 150px;
}

.footer-number {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.footer-font-color {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.inline-number {
    display: flex;
    margin: 20px auto;
}

.inline-number>img {
    margin-right: 15px;
    width: 35px;
}

#social-icons {
    display: flex;
    /* text-align: center; */
    /* align-items: center; */
    justify-content: center;
    margin: 40px auto;
    gap: 35px;
}

/* css for hover  */

/* social icons hover  */
#social-icons>a:hover {
    background-color: #f17bb2a6;
    border-radius: 50px;
    box-shadow: 0px 0px 30px 0px #f17bb2d0;
}

/* main context image hover  */

.flex>img:hover {
    opacity: 1;
    cursor: zoom-in;
    height: 500px;
    width: 500px;
}

/* hover for button  */

.join-button:hover {
    border-radius: 5px;
    background: #e0dd06;
    border: 0;
    padding: 15px 35px;
    color: rgb(236, 7, 7);
    box-shadow: 5px 5px 30px 5px #f17bb2d0;
}